body {
    margin:0;
    padding:0;
}

.container { width:1200px; margin: 0 auto; }

.share { width:80px; float: right; }

.share ul li {
    display:inline;
}

.area-do-cliente {
    width: 200px;
    float: right;
}

.menu { width:540px; float: right; margin-top:-55px; }

.menu ul li {
  display:inline;
}
